@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 2000px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* START HOME PAGE STYLINGS */
.clients-section {
  background-image: url("./assets/Clients-cover.png");
}

.my-gradient-box {
  position: relative;
  overflow: hidden;
}
.my-gradient-box > * {
  position: relative;
  z-index: 2;
}
.my-gradient-box2 > * {
  position: relative;
  z-index: 2;
}
.my-gradient-box::before,
.my-gradient-box2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    30deg,
    rgb(44, 62, 80, 1) 0%,
    rgb(141, 142, 143, 1) 45%,
    rgb(141, 142, 143, 1) 50%,
    rgb(141, 142, 143, 1) 55%,
    rgb(34, 34, 34, 1) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.my-gradient-box:hover::before,
.my-gradient-box2:hover::before {
  opacity: 1;
    background: linear-gradient(
    60deg,
    rgb(44, 62, 80, 1) 0%,
    rgb(141, 142, 143, 1) 45%,
    rgb(141, 142, 143, 1) 50%,
    rgb(141, 142, 143, 1) 55%,
    rgb(34, 34, 34, 1) 100%
  );
}
