@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 2000px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* START HOME PAGE STYLINGS */
.hero-section {
  background-image: url("./assets/hero-cover.png");
}

.btn-primary {
background-color: ;
}
        /* <SwiperSlide>
          <div className="relative w-full h-full">
            <img src={img} alt="Slide" className="w-full h-full object-cover" />

            <div className="absolute inset-0 flex flex-col items-center justify-center text-mainBlue">
              <h2 className="text-3xl font-bold">Heading</h2>
              <p className="text-lg">Description</p>
            </div>
          </div>
        </SwiperSlide> */